<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Hello in Board games World!</h1>
<form action="/login" method="post">
<!--    /login post to domyślny adres którego spodziewa się security-->
  <label>Add email (login)</label>
  <input type="text" name="username">
<!--    username + password - to domyślne nazwy których spodziewa się security-->
  <br>
  <label>Add password</label>
  <input type="password" name="password">
  <br>
  <button type="submit">Login</button>
</form>
</body>
</html>
